---
openapi: 3.0.2
info:
  $ref: ./info/index.yaml
  version: 1.0.0-RC
servers:
  - url: https://mobile.cujo.io/
    description: ""
paths:
  $ref: ./paths/index.yaml
components:
  $ref: ./components/index.yaml
tags:
  - name: General
    description:
     "### API generic information\nThe API is organized around  [REST](https://en.wikipedia.org/wiki/Representational_state_transfer).\n\
      Our API has predictable, resource-oriented URLs, and uses HTTP response codes\
      \ to indicate API errors.\nWe use built-in HTTP features, like HTTP authentication\
      \ and HTTP verbs, which are understood by off-the-shelf HTTP clients.\n\n### Errors\nThe API uses conventional HTTP response codes to indicate the\n\
      \ success or failure of an API request. In general, codes in the `2xx` range indicate\
      \ success, codes in the `4xx` range indicate an error that failed given the information\
      \ provided, and codes in the `5xx` range indicate an error with servers (these\
      \ are rare).\n\n### HTTP Status code summary\n\n|Status Code|Usage description|\n\
      |--|--|\n|200 OK | Response to a successful GET or DELETE. |\n|201 Created | Response\
      \ to a successful creation |\n|204 No content | Responses without any content|\n\
      |400 Bad request | Used for validation errors |\n|401 Unauthorized | When no or\
      \ invalid authentication details are provided. |\n|404 Not found | When requested\
      \ item is not exist |\n|409 Conflict | When trying to add duplicate record (item\
      \ exists already) |\n\n\nEvery error (4xx) will include the error object  as\n\
      \n```json\n{\n  \"error\": \"error message, if there is no error fields\",\n \
      \ \"errors\": [\n    {\n      \"field1\": \"error message\"\n    },\n    {\n \
      \     \"field2\": \"error message\"\n    },\n    ...\n  ]\n}\n```\n\n### HTTP\
      \ Verbs\n\nWhere possible, API v3 strives to use appropriate HTTP verbs for each\
      \ action.\n\n|Verb|Description|\n|--|--|\n|GET| Used for retrieving resources.|\n\
      |POST| Used for creating resources.|\n|PUT| Used for updating resources.|\n|DELETE|Used\
      \ for deleting resources.|\n\n
      ### Generic Info\n
After logging in or registering, the response will send an authentication token and the time which it will expire. The response will also include the authentication token in X-AUTH-TOKEN. The token must be included in X-AUTH-TOKEN in further requests. Example response after logging in:

      \n\n

      ```json\n{\n  \"token\": \"eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJhbGV4LnJpZGVyQG1pNi5jby51ayIsImV4cCI6MTQzOTIxNDc5Nn0.iZd6bH6Uu7n-BuvGq4hIU1nKu6PX2wKAhVuo8mem2uhxurrAWYTetUA7bY-v0BJ8GwQhDmKIW1mru3UYof7EmQ\",\n  \"expires\": \"1439214796336\"\n \
       }\n


      "

  - name: Access Control Schedules
    description:
  - name: Access Profiles
    description:
  - name: Agents API
    description: See details and manage agents
  - name: App API
    description:
  - name: Content Categories API
    description:
  - name: Country API
    description:
  - name: Device Groups API
    description:
  - name: Devices API
    description:
  - name: Events API
    description:
  - name: Features
    description:
  - name: Notifications API
    description:
  - name: Support API
    description:
  - name: Users API
    description:
  - name: Vulnerability API
    description:
