---
openapi: 3.0.2
info:
  $ref: ./info/index.yaml
  version: 1.0.0-RC
servers:
  - url: https://mobile.cujo.io/
    description: ""
paths:
  $ref: ./paths/index.yaml
components:
  $ref: ./components/index.yaml
tags:
  - name: General
    description:
     "### API generic information\nThe API is organized around  [REST](https://en.wikipedia.org/wiki/Representational_state_transfer).\n\
      Our API has predictable, resource-oriented URLs, and uses HTTP response codes\
      \ to indicate API errors.\nWe use built-in HTTP features, like HTTP authentication\
      \ and HTTP verbs, which are understood by off-the-shelf HTTP clients.\n\n### Errors\nThe API uses conventional HTTP response codes to indicate the\n\
      \ success or failure of an API request. In general, codes in the `2xx` range indicate\
      \ success, codes in the `4xx` range indicate an error that failed given the information\
      \ provided, and codes in the `5xx` range indicate an error with servers (these\
      \ are rare).\n\n### HTTP Status code summary\n\n|Status Code|Usage description|\n\
      |--|--|\n|200 OK | Response to a successful GET or DELETE. |\n|201 Created | Response\
      \ to a successful creation |\n|204 No content | Responses without any content|\n\
      |400 Bad request | Used for validation errors |\n|401 Unauthorized | When no or\
      \ invalid authentication details are provided. |\n|404 Not found | When requested\
      \ item is not exist |\n|409 Conflict | When trying to add duplicate record (item\
      \ exists already) |\n\n\nEvery error (4xx) will include the error object  as\n\
      \n```json\n{\n  \"error\": \"error message, if there is no error fields\",\n \
      \ \"errors\": [\n    {\n      \"field1\": \"error message\"\n    },\n    {\n \
      \     \"field2\": \"error message\"\n    },\n    ...\n  ]\n}\n```\n\n### HTTP\
      \ Verbs\n\nWhere possible, API v3 strives to use appropriate HTTP verbs for each\
      \ action.\n\n|Verb|Description|\n|--|--|\n|GET| Used for retrieving resources.|\n\
      |POST| Used for creating resources.|\n|PUT| Used for updating resources.|\n|DELETE|Used\
      \ for deleting resources.|\n\n### Pagination\n\nRequests that return multiple\
      \ items will be paginated to 50 items by default. You can specify further pages\
      \ with the `?page` parameter.\n\nExample\n\n```\ncurl 'https://api.cujo.io/v1/customers?page=2'\n\
      \n```\n\nNote that page numbering is 0-based and that omitting the `?page` parameter\
      \ should default to {{?page=0}}\n\n### Agent modes\n\nThe agent can have only\
      \ such modes as\n\n- `dhcp` - the agent is working in DHCP mode.\n- `standby`\
      \ - the agent working in Standby mode\n- `bridge` - the agent connected and working\
      \ Bridge mode.at\n- `gateway` - the agent is working in gateway mode. Router is\
      \ forwarding traffic through the Cujo\n- `unspecified` - the agent mode is unknown.\
      \ Can be for not connected agents. \n\n### Agent state\n\nThe agent state can\
      \ be as\n\n- `unregistered` - for not registered agents\n- `disabled` - for disabled\
      \ agents\n- `enabled` - for enabled agents\n\n### Device properties\n\n- `hidden`\
      \ - If user hide this device until it comes online. Useful for old devices.\n\
      - `monitored` - If CUJO should monitor device\n- `secured` - If true CUJO will\
      \ block automatically when threat detected. Otherwise just threat is created and\
      \ user notified.\n- `quarantine` - If all traffic from device should be blocked\n\

      "

  - name: Access Control Schedules
    description: Access Control Schedules
  - name: Access Profiles
    description: Access Profiles
  - name: Agents API
    description: Allows to see details and manage agents
  - name: App API
    description: App API
  - name: Content Categories API
    description: Content Categories API
  - name: Country API
    description: Country API
  - name: Device Groups API
    description: Device Groups API
  - name: Devices API
    description: Devices API
  - name: Events API
    description: Events API
  - name: Features
    description: 
  - name: Generic Info
    description: Generic Info
  - name: Notifications API
    description: Notifications API
  - name: Request Data
    description: Request Data
  - name: Routers API
    description: Routers API
  - name: Services API
    description: Services API
  - name: Support API
    description: Support API
  - name: Users API
    description: Users API
  - name: Vulnerability API
    description: Vulnerability API

  - name: Notifications API
